<h1>Cocktails</h1>
<p>These are all the Cocktails you created:</p>
  <ol>
   <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %></li>
  <% end %>
  </ol>

<%= cl_image_tag("nikita-tikhomirov-E0Y4baBmX0o-unsplash_s7vltj", width: 500, height: 600, crop: :fill) %>